body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/dark-triangles.png");
    background-repeat: repeat;
}


header {
    background-color: #ffffff;
    border-bottom: 3px solid #666666;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

div#header-copy {
    display: flex;
    margin: 0 auto;
    width: 960px;
    margin-bottom: 10px;
}

/*float here*/
div#page-main-title {
    flex-grow: 1;
    /*width: 30%;
    float: left;*/
    background-color: #4aaaa5;
    padding: 0 1em;
    text-align: center;
}

/*float here*/
div#contents-links {
    flex-grow: 2;
    /*float: right;
    width: 60%;*/
    text-align: right;
    margin-top: 15px;
}

ul#links-list {
    list-style: none;
    word-spacing: 1.2em;
}

ul#links-list li {    
    display: inline;
}

ul#links-list li a {
    text-decoration: none;
    color: #666666;
    font-weight: 200;
}

div#main-content {
    background-color: #ffffff;
    outline: 1px solid #dddddd;
    outline-offset: -1px;
    width: 960px;
    margin: 135px auto 0 auto;
    line-height: 1.7em;
}

div#main-content-header {
    width: 90%;
    border-bottom: 1px solid #dddddd;
    margin: 0 auto;
}

div#main-content-contents {
    width: 90%;
    margin: 30px auto;
}

/*float here correct*/
img#profile-pic {
    float: left;
    padding: 0 15px 15px 0;
}

h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

footer p {
    font-size: 0.7em;
    color: #999999;
    position: relative;
    top: 18px;
}

.no-underline {
    text-decoration: none;
}